<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
    <div class="py-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"> <a href="" class="nav-link" data-toggle="pill" data-target="#tabone"><i
                                    class="fa fa-home"></i>Agregar sensor</a> </li>
                        <li class="nav-item" style=""> <a class="nav-link active" href="" data-toggle="pill"
                                data-target="#tabtwo"><i class="fa fa-bed"></i> Listado sensores</a> </li>

                    </ul>
                    <div class="tab-content mt-2">
                        <div class="tab-pane fade" id="tabone" role="tabpanel">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form id="form-add" class="pi-draggable" draggable="true">
                                            <div class="form-group row">
                                                <label for="inputnombre" class="col-2 col-form-label">Nombre</label>
                                                <div class="col-10">
                                                    <input type="text" class="form-control" name="nombre"
                                                        id="inputnombre" placeholder="Sensor sala de espera">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputpuerto" class="col-2 col-form-label">Puerto</label>
                                                <div class="col-10">
                                                    <input type="text" class="form-control" name="puerto"
                                                        id="inputpuerto" placeholder="COM00">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputdescripcion">Descripcion</label>
                                                <textarea class="form-control" name="descripcion" id="inputdescripcion"
                                                    rows="3"></textarea>
                                            </div>
                                            <div class="d-flex flex-row-reverse">
                                                <button type="submit" class="btn btn-primary">Guardar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade active show" id="tabtwo" role="tabpanel">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row  pi-draggable" draggable="true">
                                        <div class="col-3">
                                            <ul class="nav nav-pills flex-column" id="listado-tab-boton">

                                            </ul>
                                        </div>
                                        <div class="col-9">
                                            <div class="tab-content" id="listado-tab-contenido">


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade active show" id="tabthree" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="mymodal">
            <div class="spinner-border text-danger" style="width: 9rem; height: 9rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" cr></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
        <script>
            $('#mymodal').modal({ backdrop: 'static', keyboard: false })
            load();

            function getFormData($form){
                var unindexed_array = $form.serializeArray();
                var indexed_array = {};

                $.map(unindexed_array, function(n, i){
                    indexed_array[n['name']] = n['value'];
                });

                return indexed_array;
            }

            $("#form-add").submit(e => {
                e.preventDefault();
                $('#mymodal').modal({ backdrop: 'static', keyboard: false })

                $.ajax({
                    url: "/api/sensor",
                    type: "POST",
                    contentType: "text/plain",
                    data:  JSON.stringify( getFormData($("#form-add")) ),
                    success: res => {
                        load();
                        $('#mymodal').modal('hide')
                        alert(res)
                    }
                });
            })
            function load() {
                $.ajax({
                    url: "/api/sensors",
                    success: res => {
                        res = JSON.parse(res);
                        console.log(res);
                        $("#listado-tab-boton").empty();
                        $("#listado-tab-contenido").empty();
                        res.forEach(e => {
                            agregarSensorLista(e);
                        });
                        $('#mymodal').modal('hide')

                    }
                });

            }

            function agregarSensorLista(sensor) {
                let id = "sensor" + sensor.id;
                $("#listado-tab-boton").append('<li class= "nav-item" > <a href="" class="nav-link" data-toggle="pill" data-target="#' + id + '">' + sensor.nombre + '</a> </li> ')

                let htmltoadd = '<div class="tab-pane fade" id="' + id + '" role="tabpanel"  ' +
                    '                                                       style="">  ' +
                    '                                                       <div class="row">  ' +
                    '                                                           <div class="col-12">  ' +
                    '                                                               <div class="list-group pi-draggable">  ' +
                    '                                                                   <a href="#"  ' +
                    '                                                                       class="list-group-item list-group-item-action"><span  ' +
                    '                                                                           class="d-flex justify-space-around">  ' +
                    '                                                                           <span class="w-50">Nombre:</span>  ' +
                    '                                                                           <span class="w-50" id="des-nombre">' + sensor.nombre + '</span>  ' +
                    '                                                                       </span>  ' +
                    '                                                                   </a>  ' +
                    '                                                                   <a href="#"  ' +
                    '                                                                       class="list-group-item list-group-item-action"><span  ' +
                    '                                                                           class="d-flex justify-space-around">  ' +
                    '                                                                           <span class="w-50">Puerto:</span>  ' +
                    '                                                                           <span class="w-50" id="des-puerto">' + sensor.puerto + '</span>  ' +
                    '                                                                       </span>  ' +
                    '                                                                   </a><a href="#"  ' +
                    '                                                                       class="list-group-item list-group-item-action"><span  ' +
                    '                                                                           class="d-flex justify-space-around">  ' +
                    '                                                                           <span class="w-50">Descripción:</span>  ' +
                    '                                                                           <span class="w-50" id="des-descripcion">' + sensor.descripcion + '</span>  ' +
                    '                                                                       </span>  ' +
                    '                                                                   </a></div>  ' +
                    '                                                               <div class="list-group pi-draggable mt-2 mb-2">  ' +
                    '                                                                   <a href="#"  ' +
                    '                                                                       class="list-group-item list-group-item-action"><span  ' +
                    '                                                                           class="d-flex justify-space-around">  ' +
                    '                                                                           <span class="w-50 h3">Decibeles Actuales</span>  ' +
                    '                                                                           <span class="w-50 h3" id="des-decibeles-actuales'+id+'">' + sensor.descripcion + '</span>  ' +
                    '                                                                       </span>  ' +
                    '                                                                   </a></div>  ' +
                    '                                                               <div class="row mt-1">  ' +
                    '                                                                   <div class="col-6" style="max-height: 450px;">  ' +
                    '                                                                       <h5>Datos RT</h5>  ' +
                    '                                                                       <canvas width="100%" id="canvas-rt-' + sensor.id + '"></canvas>  ' +
                    '                                                                   </div>  ' +
                    '                                                                   <div class="col-6" style="max-height: 450px;">  ' +
                    '                                                                       <h5>Datos historico</h5>  ' +
                    '                                                                       <canvas width="100%"  ' +
                    '                                                                           id="canvas-historico-regresion-' + sensor.id + '"></canvas>  ' +
                    '                                                                   </div>  ' +
                    '                                                                   <div class="col-12">  ' +
                    '                                                                       <div class="table-responsive pi-draggable mt-3"  ' +
                    '                                                                           draggable="true">  ' +
                    '                                                                           <h5>Centroide</h5>  ' +
                    '                                                                           <table class="table table-bordered " id="tabla-centroides-' + sensor.id + '">  ' +
                    '                                                                               <thead class="thead-dark">  ' +
                    '                                                                                   <tr>  ' +
                    '                                                                                       <th>Centroide</th>  ' +
                    '                                                                                   </tr>  ' +
                    '                                                                               </thead>  ' +
                    '                                                                               <tbody>  ';


                htmltoadd += '                                                                               </tbody>  ' +
                    '                                                                           </table>  ' +
                    '                                                                       </div>  ' +
                    '                                                                   </div>  ' +
                    '                                                               </div>  ' +
                    '                                                               <div class="table-responsive pi-draggable mt-3"  ' +
                    '                                                                   draggable="true">  ' +
                    '                                                                   <h5>Historico</h5>  ' +
                    '                                                                   <table class="table table-bordered id="tabla-historico-' + sensor.id + '">  ' +
                    '                                                                       <thead class="thead-dark" style="display: block;">  ' +
                    '                                                                           <tr style=" width: 100%;    display: flex;    justify-content: space-between;    padding-right: 18px;">  ' +
                    '                                                                               <th style="width:10%;">#</th>  ' +
                    '                                                                               <th style="width:20%;">Decibeles</th>  ' +
                    '                                                                               <th style="width:35%;">Clasificacion de ruido</th>  ' +
                    '                                                                               <th style="width:35%;">Fecha de captura</th>  ' +
                    '                                                                           </tr>  ' +
                    '                                                                       </thead>  ' +
                    '                                                                       <tbody style="display: block;  height: 300px; overflow-y: auto; overflow-x: hidden;">  ';
                sensor['historial'].forEach((item, i) => {
                    htmltoadd += '   <tr  style=" width: 100%;    display: flex;    justify-content: space-between;">  ' +
                        '       <td style="width:10%;">' + (i + 1) + '</td>  ' +
                        '       <td style="width:20%;">' + item["decibeles"] + ' Db</td>  ' +
                        '       <td style="width:35%;">' + item["clasificacionRuido"] + '</td>  ' +
                        '       <td style="width:35%;">' + item["fecha_creacion"] + '</td>  ' +
                        '  </tr>  ';
                })

                htmltoadd += '                                                                       </tbody>  ' +
                    '                                                                   </table>  ' +
                    '                                                               </div>  ' +
                    '                                                           </div>  ' +
                    '                                                       </div>  ' +
                    '                                                  </div>  ';

                $("#listado-tab-contenido").append(htmltoadd);
                $.ajax({
                    url: "/api/sensor/" + sensor.id + "/regresion",
                    success: res => {
                        res = JSON.parse(res);
                        console.log(res);
                        var ctx = document.getElementById('canvas-historico-regresion-' + sensor.id).getContext('2d');
                        var stackedLine = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: sensor.historial.reverse().map(e => e["fecha_creacion"]),
                                datasets: [{
                                    label: 'Decibeles',
                                    backgroundColor: "rgba(0,0,0,0.0)",
                                    borderColor: "red",
                                    data: sensor.historial.reverse().map(e => e["decibeles"])
                                }, {
                                    label: 'Regresion',
                                    backgroundColor: "rgba(0,0,0,0.0)",
                                    borderColor: "blue",
                                    data: sensor.historial.reverse().map((e, index) => res["m"] * index + res["c"])

                                }]
                            },
                            options: {
                                animation:false
                            }
                        })

                    }
                });

                setInterval(function () {

                    $.ajax({
                        url: "/api/sensor/" + sensor.id,
                        success: res => {
                            res = JSON.parse(res);
                            var datos = res.historial.reverse().slice(0, 40);
                            var drt = datos[0]["decibeles"];
                            var ele = $('#des-decibeles-actuales'+id)
                            ele.html(drt + " dB");
                            var ctx = document.getElementById('canvas-rt-' + sensor.id).getContext('2d');
                            var stackedLine = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: datos.map(e => e["fecha_creacion"]),
                                    datasets: [{
                                        label: 'Decibeles',
                                        backgroundColor: "red",
                                        borderColor: "red",
                                        data: datos.map(e => e["decibeles"])
                                    }]
                                },
                                options: {
                                    animation:false
                                }
                            });
                        }
                    })
                }, 3000)

                $.ajax({
                    url: "/api/sensor/" + sensor.id + "/clusters",
                    success: res => {
                        res = JSON.parse(res);
                        console.log(res);
                        res.forEach((e, i) => {
                            $("#tabla-centroides-" + sensor.id + " thead tr").append(" <th> " + e["nombre"] + "</th> ");
                            var html = '   <tr>  ' +
                                '       <td>Valor' + i + '</td>'
                            e.values.forEach(v => {
                                html += '<td>' + v + '</td>'
                            })
                            html += "</tr>"
                            $("#tabla-centroides-" + sensor.id + " tbody").append(html);
                        });
                    }
                });
            }
        </script>
    </div>
</body>


</html>